<!-- Top Navigation Bar -->
<div class="top-nav">
  <div class="logo">Admin Panel</div>
  <div class="nav-items">
      <i class="fas fa-bell notification-icon"></i>
      <a href="/adminlogout" class="logout-btn">Logout</a>
  </div>
</div>

<!-- Sidebar -->
<div class="sidebar">
  <!-- Make Admin Profile Icon Clickable, Redirects to Dashboard -->
  <a href="/admindash">
      <div class="admin-profile">
          <i class="fas fa-user-circle admin-icon"></i>
          <span class="admin-text">Admin</span>
      </div>
  </a>
  <a href="/orders"><i class="fas fa-shopping-cart"></i> View Orders</a>

  <a href="/users"><i class="fas fa-users"></i> View Users</a>
  <a href="/viewmenu"><i class="fas fa-utensils"></i> View Menu</a>
  <a href="/addproduct"><i class="fas fa-plus-circle"></i> Add Menu</a>
  <a href="/categories"><i class="fas fa-list"></i> View Categories</a>
 <a href="/banners"><i class="fas fa-image"></i> Add Sliders</a>
  <a href="/slidermanagement"><i class="fas fa-sliders-h"></i> Manage Sliders</a>
  <a href="/discounts"><i class="fas fa-percentage"></i> Manage Discounts</a>
 
 

</div>
