
	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="/home">
								<img src="/img/logo final 1.png" alt="">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li><a href="/"> Home</a></li>
								
								<li><a href="/about">About</a></li>
								
								</li> 
								<li><a href="/contact">Contact</a></li>
								<li><a href="/menu">Menu</a>
									
								
								</li>
								 
								<li>
									<div class="header-icons">
											<a class="shopping-cart" href="/cart1"><i class="fas fa-shopping-cart"></i></a>
											
											<a class="user-profile" href="/user-dashbord"><i class="fas fa-user"></i></a>
											
										<a class="login-button" href="<%= user ? '/loginout' : '/login' %>">
											<i class="fas fa-sign-in-alt"></i> <%= user ? 'Logout' : 'Login' %>
										</a>
									</div>
							</li>
							
							</ul>
						</nav>
						
						  <div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->
	
	